.main{
    height: 85vh;
    width: 98vw;
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid black;
}

.play_info{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 60%;
}

.router{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-content: flex-start;
    overflow-y: scroll;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }