.popup {
    position: fixed;
    left: 0px;
    top: 0px;


}

.popup-inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 16px;
    width: 400px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 5px 10px rgb(131, 131, 131);
    justify-content: center;
    align-items: center;
}

.popup_header {
    height: 32px;
    background-color: gray;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}

.popup_header button {
    margin-right: 5px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}